.search-container {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45%;
}

.search-input {
    display: inline-block;
    align-items: center;
    justify-content: center;
    min-width: 50em;
}

.search-container Button {
    margin-top: 0.5em;
    margin-left: 0.5em;
    height: max-content;
}